<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<title>{% block title %}Analizador Léxico y Sintáctico{% endblock %}</title>

<body>
    <div class="md:flex md:items-center justify-center flex-col mt-3 mb-6">
        <h1>Analizador Léxico y Sintáctico</h1>
        <!-- Formulario para ingresar código directamente -->
        <form action="/" method="post" class="w-full max-w-sm">
            <label for="message" class="block mb-2 text-sm mt-3 font-medium text-gray-900 dark:text-white">Código a analizar</label>
            <textarea id="message" name="codigo" rows="10" cols="25" class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">{{ codigo }}</textarea>
            <div class="md:flex md:items-center mt-3">
                <div class="md:w-1/3"></div>
                <div class="md:w-2/3">
                    <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
                        Analizar
                    </button>
                </div>
            </div>
        </form>
        
        <div class="block mb-2 text-sm mt-3 font-medium text-red-900">
            {% if errores %}
                <h2>Errores Léxicos:</h2>
                <ul>
                    {% for error in errores %}
                        <li>Error en la línea {{ error[0] }}: "{{ error[1] }}", {{ error[3] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="block mb-2 text-sm mt-3 font-medium text-red-900">
            {% if errores_sintacticos %}
                <h2>Errores Sintácticos:</h2>
                <ul>
                    {% for error in errores_sintacticos %}
                        <li>Error en la línea {{ error[0] }}: "{{ error[1] }}", {{ error[3] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="md:flex flex-row gap-2">
        <!-- Resultados del análisis léxico -->
        <table class="border-collapse border border-slate-500 mt-3">
            <!-- <h2 class="text-lg font-medium text-gray-900 dark:text-white">Análisis Lexico</h2> -->
            <thead>
                <tr>
                    <th class="border border-slate-600">Número de línea</th>
                    <th class="border border-slate-600">Token</th>
                    <th class="border border-slate-600">Palabra reservada</th>
                    <th class="border border-slate-600">Identificador</th>
                    <th class="border border-slate-600">Símbolo</th>
                </tr>
            </thead>
            <tbody>
                {% for token in tokens %}
                    <tr>
                        <td class="border border-slate-600">{{ token[0] }}</td>
                        <td class="border border-slate-600">{{ token[1] }}</td>
                        <td class="border border-slate-600">{% if token[2] == "Reservada" %} {{ token[1] }} {% endif %}</td>
                        <td class="border border-slate-600">{% if token[2] == "Identificador" %} {{ token[1] }} {% endif %}</td>
                        <td class="border border-slate-600">{% if token[2] == "Paréntesis" or token[2] == "Operador" %} {{ token[1] }} {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Resultados del análisis sintáctico -->
        <div class="block mt-5">
            <h2 class="text-lg font-medium text-gray-900 dark:text-white">Análisis Sintáctico</h2>
            {% if errores_sintacticos %}
            <!-- <ul class="list-disc pl-5">
                {% for error in errores_sintacticos %}
                <li>Error en la línea {{ error[0] }}: "{{ error[1] }}", {{ error[3] }}</li>
                {% endfor %}
            </ul> -->
            {% else %}
            <p class="text-sm text-gray-900 dark:text-white">Estructura de código correcta.</p>
            {% endif %}
        </div>
    </div>
        
        <!-- Totales -->
        <table class="border-collapse border border-slate-500 mt-3">
            <tr>
                <th class="border border-slate-600">Total</th>
                <th class="border border-slate-600">Reservadas</th>
                <th class="border border-slate-600">{{ total_reservadas }}</th>
            </tr>
            <tr>
                <th class="border border-slate-600">Total</th>
                <th class="border border-slate-600">Identificadores</th>
                <th class="border border-slate-600">{{ total_identificadores }}</th>
            </tr>
            <tr>
                <th class="border border-slate-600">Total</th>
                <th class="border border-slate-600">Símbolos</th>
                <th class="border border-slate-600">{{ total_simbolos }}</th>
            </tr>
            <tr>
                <th class="border border-slate-600">Total</th>
                <th class="border border-slate-600">Operadores</th>
                <th class="border border-slate-600">{{ total_operadores }}</th>
            </tr>
            <tr>
                <th class="border border-slate-600">Total</th>
                <th class="border border-slate-600">Tokens</th>
                <th class="border border-slate-600">{{ total_tokens }}</th>
            </tr>
        </table>
    </div>            
</body>
</html>
